<html>
<head><title>test</title></head>

<body style="background-color: lightgrey; margin: 0 0;">

<div style="display: flex; flex-direction: column; height: 100%">

  <div style="flex: 0 0 50px; background-color: lightblue">toolbar</div>
  <div style="flex: 0 0 100px; background-color: lightyellow">filter</div>

  <!-- CONTAINER: display: flex; flex-direction: row; flex: 1 1 auto -->
  <div style="flex: 1 1 auto; display: flex; flex-direction: row">
    <!-- Vertikaler Container für Tabelle / TIMELINE  -->
    <div style="flex: 2 1 auto; overflow: auto; display: flex">
      <!-- TABELLE -->
      <div style="flex: 1 1 ; height: 100%; background-color: lightcoral; overflow-x: scroll; overflow-y: hidden;">
        <table style="">
          <thead style="position: sticky; top: 0;">
          <tr style="">
            <td style="height: 100px; background-color: coral; padding: 0 0">Header 1</td>
            <td style="height: 100px; background-color: coral; padding: 0 0">Header 2</td>
          </tr>
          </thead>
          <tbody style="">
          <tr>
            <td><h1>fjdsaklfödajfdölsafjdklsöfjdkl</h1></td>
            <td><h1>b</h1></td>
          </tr>
          <tr>
            <td><h1>c</h1></td>
            <td><h1>rueqirequwpiorqwpruioeqrupiweqrupieq</h1></td>
          </tr>
          <tr>
            <td><h1>e</h1></td>
            <td><h1>f</h1></td>
          </tr>
          <tr>
            <td><h1>g</h1></td>
            <td><h1>h</h1></td>
          </tr>
          <tr>
            <td><h1>i</h1></td>
            <td><h1>j</h1></td>
          </tr>
          <tr>
            <td><h1>k</h1></td>
            <td><h1>l</h1></td>
          </tr>
          <tr>
            <td><h1>m</h1></td>
            <td><h1>n</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          <tr>
            <td><h1>o</h1></td>
            <td><h1>p</h1></td>
          </tr>
          </tbody>
        </table>
      </div>

      <!-- Timeline -->
      <div style="flex: 1 1; height: 100%; overflow-x: scroll; overflow-y: hidden">
        <div style="width: 2000px; height: 2000px">
          <div>foo</div>
        </div>
      </div>
    </div>

    <div style="flex: 1 1 200px; overflow: auto; display: flex">
      <div style="background: lawngreen; height: 1000px">SPLIT VIEW</div>
    </div>
  </div>


  <div style="flex: 0 0 30px; background-color: grey">footer</div>

</div>

</body>

</html>
